/*
    Bootstrap Override
*/
.navbar{
    background: #1e90ff;
}

.navbar a{
    color: #ffffff
}

.nav>li>a:focus, .nav>li>a:hover{
    color: #000000;
}

/*
    Global
*/
body{
    background-color: #F6F7F8;
}

/*
    Header
*/

.navbar{
    border-radius: 0;
}
.navbar-brand{
    font-family: 'Nanum Pen Script', cursive;
}

/*
    Django Table2
*/

.table th{
    background: #1e90ff;
}

.table th a{
    color: #ffffff;
}

.delete_expense_form{
    display: inline;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
	background-color: #F0FFFF;
}

.table-striped tbody tr:nth-child(even) td,
.table-striped tbody tr:nth-child(even) th {
	background-color: #F5F5DC;
}


/*
    Filter Panel
*/

.filterPanel {
    color: #ffffff;
    text-align: center;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 100px;
    transition: 0.5s;
}

.filterPanel .control-group{
    margin: 20px;
}

.filterPanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}

.filterPanel .controls input{
    color: #000000;
    text-align: center;
}

.filterPanel a:hover {
    color: #f1f1f1;
}

.filterPanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #ffffff;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .filterPanel {padding-top: 15px;}
    .filterPanel a {font-size: 18px;}
}

/*
    Analytics
*/

.analytics-card{
    margin: 20px;
    padding: 40px;
    text-align: center;
    color: #ffffff;
}

.analytics-card.total-records{
    background-color: #343a40;
}

.analytics-card.total-expenses{
    background-color: #6610f2;
}

.analytics-card.categories{
    background-color: #6f42c1;
}

.analytics-card.avg-year{
    background-color: #dc3545;
}

.analytics-card.avg-month{
    background-color: #17a2b8;
}

.analytics-card.avg-day{
    background-color: #6c757d;
}

.analytics-card .header{
    font-size: 40px;
}

.analytics-card .content{
    font-size: 14px;
}