/*
    Override
*/

.card-panel,
.collection a.collection-item,
.navbar {
    background-color: #1a1a1f;
    color: #ffffff;
}

nav a,
nav ul a,
tr a,
.login a,
.pagination li a {
  color: #ffffff;
}

nav ul a,
.input-field>label,
label{
    font-size: 18px;
}

td, th {
  padding: 0px;
}

.container {
    margin-top: 20px;
}

.btn, .btn-large, .btn-small,
 .btn:hover, .btn-large:hover, .btn-small:hover,
  .btn:focus, .btn-large:focus, .btn-small:focus{
    background-color: #ffffff;
    color: #1a1a1f;
}

input,
 input:focus{
    color: #ffffff;
    border-bottom: 1px solid #ffffff !important;
}
.card {
    background: #1a1a1f;
    color: #ffffff;
}

/* Navbar */
 .navbar-brand{
     padding: 30px 30px 30px 15px;
     font-size: 25px;
}
/* Landing */
/*-------------------------------------------------------------- #General --------------------------------------------------------------*/
 body{
    background-color: #323237;
    color: #ffffff;
     font-size: 18px;
     font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
     overflow-x:hidden;
}
 a{
     color:#ffffff;
}
/* a:hover,a:active,a:focus{
     color:#1a1a1f;
     outline:none;
     text-decoration:none;
}
 */
 p{
     padding:0;
     margin:30px 0px;
}
 h1,h2,h3,h4,h5,h6{
     font-family:"Montserrat",sans-serif;
     font-weight:400;
     padding:0;
}

.text-center{
    text-align: center;
}

.features-row{
    padding: 20px 0px;
}

/*-------------------------------------------------------------- #IntroSection --------------------------------------------------------------*/
 #intro{
     width:100%;
     height:100%;
     background-color:#1a1a1f;
     position:relative;
     margin-top:-20px;
}
 @media(min-width:1024px){
     #intro{
         background-attachment:fixed;
    }
}
 #intro .intro-text{
     position:absolute;
     left:0;
     top:100px;
     right:0;
     height:calc(80% -20px);
     display:flex;
     align-items:center;
     justify-content:center;
     text-align:center;
     flex-direction:column;
}

 #intro p{
     margin-bottom:20px;
     padding:15px;
     font-size:24px;
}
 @media(max-width:768px){
     #intro p{
         font-size:18px;
         line-height:24px;
         margin-bottom:20px;
    }
}

/*
    Login
*/

.login{
    margin-top: -20px;
    padding: 40px;
    text-align: center;
}

.loginBtn {
  box-sizing: border-box;
  position: relative;
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #1a1a1f;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Google */
.loginBtn--google {
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('imgs/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}

/* Filter Panel --------------------------------*/
.filterPanel {
    text-align: center;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1a1a1f;
    color: #000;
    overflow-x: hidden;
    padding-top: 100px;
    transition: 0.5s;
}

.filterPanel .control-group{
    margin: 20px;
}

.filterPanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}

.filterPanel .controls input{
    color: #000000;
    text-align: center;
}

.filterPanel a:hover {
    color: #f1f1f1;
}

.filterPanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #1a1a1ffff;
}

.expense-overview tr {
  background-color: #1a1a1f;
  border-color: #ffffff;
}

.expense-overview td,
.expense-overview th{
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}

.add-expense-form {
  border-radius: 15px;
  padding: 48px 24px 24px 24px;
}

.add-expense-form .row {
  margin-bottom: 12px;
}

.add-expense-form .row .col{
  margin: 0px;
  padding: 0px 10px;
}
