/*
    Bootstrap Override
*/
.navbar{
    background: #3f175e;
}

.navbar a{
    color: #ffffff
}


.btn,
.btn:hover,
.btn:active,
.btn:focus,
.nav>li>a:focus, .nav>li>a:hover,
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
    background: #3f175e;
    color: #ffffff;
    border-color: #3f175e;
}

.badge{
    background: #3f175e;
    border-radius: 0px;
}
/*
    Global
*/
body{
    background-color: #F6F7F8;
    font-family: 'Varela Round', sans-serif;
}

a:focus,
a:hover{
    text-decoration: none;
}

/*
    Header
*/

.navbar{
    border-radius: 0;
}
.navbar-brand{
    font-family: 'Nanum Pen Script', cursive;
}

/*
    Login
*/

.login{
    background-color: #2e6644;
    color: #708779;
    padding: 40px;
    text-align: center;
}

.login a{
    color: #ffeeff;
}

.login .logo{
    margin-bottom: 20px;
}


/*
    Django Table2
*/

.table th{
    background: #3f175e;
}

.table th a{
    color: #ffffff;
}

.delete_expense_form{
    display: inline;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
	background-color: #fff;
}

.table-striped tbody tr:nth-child(even) td,
.table-striped tbody tr:nth-child(even) th {
	background-color: #fcfcfc;
}


/*
    Filter Panel
*/

.filterPanel {
    color: #ffffff;
    text-align: center;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 100px;
    transition: 0.5s;
}

.filterPanel .control-group{
    margin: 20px;
}

.filterPanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}

.filterPanel .controls input{
    color: #000000;
    text-align: center;
}

.filterPanel a:hover {
    color: #f1f1f1;
}

.filterPanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #ffffff;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .filterPanel {padding-top: 15px;}
    .filterPanel a {font-size: 18px;}
}

/*
    Analytics
*/


.analysis-menu .nav-tabs>li{
    background: #3f175e;
    margin: 0 10px 5px 0;
}

.analysis-menu .nav-tabs>li a{
    color: #ffffff;
}


.analytics-card{
    margin: 20px;
    padding: 40px;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
}

.analytics-card.total-records{
    background-color: #343a40;
}

.analytics-card.total-expenses{
    background-color: #6610f2;
}

.analytics-card.categories{
    background-color: #6f42c1;
}

.analytics-card.avg-year{
    background-color: #dc3545;
}

.analytics-card.avg-month{
    background-color: #17a2b8;
}

.analytics-card.avg-day{
    background-color: #6c757d;
}

.analytics-card .header{
    font-size: 40px;
}

.analytics-card .content{
    font-size: 14px;
}

