{% extends 'tracker/base.html'%}

{% block body %}
  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">

    <div class="intro-text">
      <h2>Squirrel</h2>
      <p>An Open Source Expense Tracker and Analytics Platform</p>
      <a href="#features" class="btn-get-started scrollto">Get Started</a>
    </div>

  </section><!-- #intro -->

  <main id="main">
    <!--==========================
      Squirrel -  Features Section
    ============================-->
    <section id="features">
      <div class="container">
        <div class="row">
          <div class="col l12">
            <div class="section-header">
              <h3 class="section-title">Features</h3>
              <span class="section-divider"></span>
            </div>
          </div>
          <div class="col l12 m7 ">
            <div class="row">
              <div class="col l6 m6 box">
                <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident clarida perendo.</p>
              </div>
              <div class="col l6 m6 box">
                <h4 class="title"><a href="">Dolor Sitema</a></h4>
                <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata noble dynala mark.</p>
              </div>
              <div class="col l6 m6 box">
                <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur teleca starter sinode park ledo.</p>
              </div>
              <div class="col l6 m6 box">
                <h4 class="title"><a href="">Magni Dolores</a></h4>
                <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum dinoun trade capsule.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- #features -->

    <!--==========================
      Advanced Features Section
    ============================-->
    <section id="advanced-features">

      <div class="features-row section-bg">
        <div class="container">
          <div class="row">
            <div class="l12">
              <img class="advanced-feature-img-right" src="https://dummyimage.com/600x400/000/fff&text=Squirrel" alt="">
              <h3>Duis aute irure dolor in reprehenderit in voluptate velit esse</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="features-row">
        <div class="container">
          <div class="row">
            <div class="l12">
              <img class="advanced-feature-img-left" src="https://dummyimage.com/600x400/000/fff&text=Squirrel" alt="">
              <h3>Duis aute irure dolor in reprehenderit in voluptate velit esse</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
              <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="features-row section-bg">
        <div class="container">
          <div class="row">
            <div class="l12">
              <img class="advanced-feature-img-right" src="https://dummyimage.com/600x400/000/fff&text=Squirrel" alt="">
              <h3>Duis aute irure dolor in reprehenderit in voluptate velit esse</h3>
              <h3>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
              <i class="ion-ios-albums-outline"></i>
              <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            </div>
          </div>
        </div>
      </div>
    </section><!-- #advanced-features -->

    <!--==========================
      Github
    ============================-->
    <section id="github">
      <div class="container">
        <div class="row">
          <div class="col l12 text-center text-lg-left">
            <h3 class="cta-title">Wanna contribute?</h3>
            <p class="cta-text"> Everyone is welcome to contribute to make the platform better.</p>
          </div>
          <div class="col l4 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="https://github.com/wingkwong/squirrel/subscription" data-size="large">Watch Squirrel</a>
          </div>
          <div class="col l4 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="https://github.com/wingkwong/squirrel" data-size="large">Star Squirrel</a>
          </div>
          <div class="col l4 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="https://github.com/wingkwong/squirrel/fork" data-size="large">Fork Squirrel</a>
          </div>
        </div>

      </div>
    </section>

    <!--==========================
      More Features Section
    ============================-->
    <section id="more-features" class="section-bg">
      <div class="container">

        <div class="section-header">
          <h3 class="section-title">More Features</h3>
          <span class="section-divider"></span>
          <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>

        <div class="row">

          <div class="col l6">
            <div class="box">
              <div class="icon"><i class="ion-ios-stopwatch-outline"></i></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident etiro rabeta lingo.</p>
            </div>
          </div>

          <div class="col l6">
            <div class="box">
              <h4 class="title"><a href="">Dolor Sitema</a></h4>
              <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata nodera clas.</p>
            </div>
          </div>

          <div class="col l6">
            <div class="box">
              <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur trinige zareta lobur trade.</p>
            </div>
          </div>

          <div class="col l6">
            <div class="box">
              <h4 class="title"><a href="">Magni Dolores</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum rideta zanox satirente madera</p>
            </div>
          </div>

        </div>
      </div>
    </section><!-- #more-features -->
  </main>

  <script async defer src="https://buttons.github.io/buttons.js"></script>
{% endblock %}