{% extends 'tracker/header.html'%}

{% load bootstrap3 %}


{% block body %}

    <div class="container expense-analytics">
        {% if context_type == 'statistic'%}
            <div class="row">
                <div class="col-md-4">
                     <div class="analytics-card total-records">
                        <div class="header">{{total_records}}</div>
                        <div class="content">Total Records</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="analytics-card total-expenses">
                        <div class="header">${{total_expenses}}</div>
                        <div class="content">Total Expenses</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="analytics-card categories">
                        <div class="header">{{categories}}</div>
                        <div class="content">Categories</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="analytics-card avg-year">
                        <div class="header">$23024820</div>
                        <div class="content">Avg. year</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="analytics-card avg-month">
                        <div class="header">$1032414</div>
                        <div class="content">Avg. month</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="analytics-card avg-day">
                        <div class="header">$1334</div>
                        <div class="content">Avg. day</div>
                    </div>
                </div>
            </div>
        {% endif %}



        {% if menu_labels %}
        <div class="analysis-menu">
            <ul class="nav nav-tabs">
                {% for label in menu_labels %}
                  <li class="nav-item">
                      {% if context_type == 'annually' %}
                          <!--TODO: convert it to month str-->
                        <a class="annually nav-link" href="{% url 'tracker:analytics'%}/{{label}}"> {{label}}</a>
                      {% elif context_type == 'monthly'%}
                        <a class="annually nav-link" href="{% url 'tracker:analytics'%}/{{selected_year}}/{{label}}"> {{label}}</a>
                      {% endif %}
                  </li>
                {% endfor%}
                </ul>
        </div>
        {% endif %}

        <canvas id="myChart" width="500" height="250"></canvas>
    </div>


    <script>
        var ctx = document.getElementById("myChart").getContext('2d');
        var isShowScales = {% if report_type != 'pie' %}true{% else %}false {% endif %};
        var xAxisLabel = '{{x_axis_label}}';
        var dataset;
        var myChart = new Chart(ctx, {
            type: '{{report_type}}',
            data: {
                labels: {{ labels | safe }},
                datasets: {{ datasets | safe}}
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: '{{ title }}'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                }
                ,
                scales: {
                    xAxes: [{
                        display: isShowScales,
                        scaleLabel: {
                            display: isShowScales,
                            labelString: xAxisLabel
                        }
                    }],
                    yAxes: [{
                        display: isShowScales,
                        scaleLabel: {
                            display: isShowScales,
                            labelString: 'Amount'
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}


