{% extends 'tracker/header.html'%}

{% load bootstrap3 %}


{% block body %}

    <div class="container expense-analysis">
        <div class="analysis-menu">
            <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="annually nav-link active" href="#">Annual Report</a>
                  </li>
                  <li class="nav-item">
                    <a class="monthly nav-link" href="#">Monthly Report</a>
                  </li>
                </ul>
        </div>

        <canvas id="myChart" width="500" height="100"></canvas>
    </div>

    <script>
                    var ctx = document.getElementById("myChart").getContext('2d');
                    var dataset;
                    var myChart = new Chart(ctx, {
                        type: '{{report_type}}',
                        data: {
                            labels: {{ labels | safe }},
                            datasets: {{ datasets | safe}}
                        },
                        options: {
                            responsive: true,
                            title: {
                                display: true,
                                text: '{{ title }}'
                            },
                            tooltips: {
                                mode: 'index',
                                intersect: false,
                            },
                            hover: {
                                mode: 'nearest',
                                intersect: true
                            },
                            scales: {
                                xAxes: [{
                                    display: true,
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Month'
                                    }
                                }],
                                yAxes: [{
                                    display: true,
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Amount'
                                    }
                                }]
                            }
                        }
                    });
    </script>
{% endblock %}


