{% extends 'tracker/header.html'%}

{% load bootstrap3 %}


{% block body %}

    <div class="container expense-analysis">
        <div class="analysis-menu">
            <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="annually nav-link active" href="#">Annual Report</a>
                  </li>
                  <li class="nav-item">
                    <a class="monthly nav-link" href="#">Monthly Report</a>
                  </li>
                </ul>
        </div>
        <canvas id="myChart" width="500" height="100"></canvas>
    </div>
{% endblock %}


