{% extends 'tracker/base.html'%}
{% load bootstrap3 %}


{% block body %}
<div class=" dashboard">
        {% if context_type == 'dashboard'%}
            <section>
                <div class="row">
                    <div class="col-md-4 no-padding">
                         <div class="dashboard-card total-records">
                            <div class="header">{{total_records}}</div>
                            <div class="content">
                                <div class="sub-header">Total Records</div>
                                <div class="this-month col-md-6">This month: </div>
                                <div class="col-md-6">{{totalRecordsInThisMonth}}</div>
                                <div class="last-month col-md-6">Last month:</div>
                                <div class="col-md-6">{{totalRecordsInLastMonth}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 no-padding">
                        <div class="dashboard-card total-expenses">
                            <div class="header">${{total_expenses}}</div>
                            <div class="content">
                                <div class="sub-header">Total Expenses</div>
                                <div class="this-month col-md-6">This month: </div>
                                <div class="col-md-6">$3,024 (TODO)</div>
                                <div class="last-month col-md-6">Last month:</div>
                                <div class="col-md-6">$5,032 (TODO)</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 no-padding">
                        <div class="dashboard-card categories">
                            <div class="header">{{categories}}</div>
                                <div class="sub-header">Categories</div>
                                <div class="this-month col-md-6">This month: </div>
                                <div class="col-md-6">5 (TODO)</div>
                                <div class="last-month col-md-6">Last month:</div>
                                <div class="col-md-6">3 (TODO)</div>
                            </div>
                        </div>
                    <div class="col-md-4 no-padding">
                        <div class="dashboard-card avg-year">
                            <div class="header">${{avg_year}}</div>
                            <div class="content">Avg. year</div>
                        </div>
                    </div>
                    <div class="col-md-4 no-padding">
                        <div class="dashboard-card avg-month">
                            <div class="header">${{avg_month}}</div>
                            <div class="content">Avg. month</div>
                        </div>
                    </div>
                    <div class="col-md-4 no-padding">
                        <div class="dashboard-card avg-day">
                            <div class="header">${{avg_day}}</div>
                            <div class="content">Avg. day</div>
                        </div>
                    </div>
                </div>
            </section>

            {% if latest30DaysData %}
                <section>
                    <div class="row">
                        <div class="col-md-12">
                            <canvas id="latest30DaysExpense" width="500" height="100"></canvas>
                            <script>
                                var ctx = document.getElementById("latest30DaysExpense").getContext('2d');
                                var latest30daysRecords = new Chart(ctx, {
                                    type: 'line',
                                    data: {
                                        "labels": {{ latest30DaysLabel | safe }},
                                      "datasets":[
                                         {
                                            "label":"Amount",
                                            "data": {{ latest30DaysData | safe }},
                                            "fill":false,
                                            "borderColor":"#e5ffff",
                                            "lineTension":0.1
                                         }
                                      ]
                                    },
                                    options: {
                                        legend: {
                                             labels: {
                                                  fontColor: "#e5ffff"
                                                 }
                                              },
                                            title: {
                                                display: true,
                                                fontColor: "#e5ffff",
                                                text: 'Expenses in Last 30 Days'
                                            }     ,
                                            scales: {
                                                yAxes: [{
                                                    ticks: {
                                                        beginAtZero:true,
                                                        fontColor: "#e5ffff"
                                                    },
                                                }],
                                              xAxes: [{
                                                    ticks: {
                                                        fontColor: "#e5ffff"
                                                    },
                                                }]
                                        }

                                    }
                                });
                            </script>
                        </div>
                    </div>
                </section>
            {% endif %}

            <section>
                <div class="row">
                <div class="col-md-4 no-padding">
                    <a href="{% url 'tracker:analytics'%}/{{current_year}}">
                        <div class="dashboard-card annually-report">
                            <div class="header">annually Report</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 no-padding">
                    <a href="{% url 'tracker:analytics'%}/{{current_year}}/{{current_month}}">
                        <div class="dashboard-card monthly-report">
                            <div class="header">Monthly Report</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 no-padding">
                    <a href="{% url 'tracker:analytics'%}/{{current_year}}/{{current_month}}/{{current_day}}">
                        <div class="dashboard-card daily-report">
                            <div class="header">Daily Report</div>
                        </div>
                    </a>
                </div>
            </div>
            </section>

        {% endif %}
</div>

{% endblock %}
</div>