<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expense Tracker</title>
    {% load staticfiles %}
    {% load bootstrap3 %}

    <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
    {% bootstrap_javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="{% static 'main.js' %}"></script>

    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script" rel="stylesheet">
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />

</head>
<body>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'tracker:expense' %}">Expense Tracker</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{% url 'tracker:expense' %}">
                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp; Expense Overview
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'tracker:create_expense' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Expense
                    </a>
                </li>
                <li>
                    <a href="{% url 'tracker:analytics' %}">
                        <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp; Expense Analytics
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

    {% block body %}
    {% endblock %}

</body>
</html>