{% extends 'tracker/base.html'%}
{% load django_tables2 crispy_forms_tags %}

{% block body %}
<div class="container expense-overview">
    <button type="submit" class="open-filter-btn btn btn-success">
      Filter
    </button>

    <button type="submit" class="open-filter-btn btn btn-success">
      Export
    </button>

    {% render_table table %}

    <div id="filterPanel" class="filterPanel">
      <a href="javascript:void(0)" class="closebtn">&times;</a>
          <form action="" method="get">
        {% crispy filter.form filter.form.helper %}
        </form>
    </div>

{% endblock %}
</div>