
{% include 'tracker/base.html' %}


{% block body %}
    <div class="login">
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
                {% else %}
                <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}
            <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
                <div class="form-group">
                    Username
                  <span>{{ form.username }}</span>
                </div>
                <div class="form-group">
                    Password
                  <span>{{ form.password }}</span>
                </div>

                <div class="form-group">
                  <input class="btn" type="submit" value="login" />
                  <input type="hidden" name="next" value="{{ next }}" />
                </div>
            </form>

            <br>
            <p><strong>-- OR --</strong></p>
            <p>
                <a href="{% url 'social:begin' 'google-oauth2' %}">
                    <button class="loginBtn loginBtn--google">
                      Login with Google
                    </button>
                </a>
            </p>

            <p><a href="{% url 'password_reset' %}">Forget Password?</a></p>
            <p>Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>
    </div>
{% endblock %}