
{% include 'tracker/base.html' %}

{% block body %}


<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<div class="profile-userpic">
					{% if profile.avatar != ''%}
						<img class="img-responsive" alt="" src={{profile.avatar}} >
					{% else %}
					<!--TODO: Use Default avatar -->
						<img class="img-responsive" alt="" src="https://dummyimage.com/600x400/000/fff" >
					{% endif%}
				</div>
				<div class="profile-user">
					<div class="profile-user-name">
						{{profile.user}}
					</div>
					<div class="profile-user-email">
						{{profile.user.email}}
					</div>
				</div>
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-home"></i>
							Update Profile </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-user"></i>
							Settings </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
            <div class="profile-content">
			   <!--TODO-->
            </div>
		</div>
	</div>
</div>






{%endblock%}